Repository Justinjdaniel/justinjdaniel.com, changes with the labels that .github/labeler.yml gives for each.
All labels: blog, component, utils, config, ci/cd, documentation, dependencies

.github/labeler.yml:

# check this ref link for further details: https://github.com/marketplace/actions/labeler

# Add 'Blog' label to any file changes within 'content' folder
blog:
  - changed-files:
      - any-glob-to-any-file: content/*

component:
  - changed-files:
      - any-glob-to-any-file: app/_components/**/*.js

utils:
  - changed-files:
      - any-glob-to-any-file: app/_utils/**/*.js

config:
  - changed-files:
      - any-glob-to-any-file:
          - app/_config/**/*.js
          - .vscode/**

ci/cd:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**.yml

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - docs/**
          - README.md

dependencies:
  - changed-files:
      - any-glob-to-any-file: package*.json

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature-request:
  - head-branch: ['^feature', 'feature']

✨ Add new animation "fade-out-up" and update existing animation "appear" in tailwind.config.js.
  tailwind.config.js
Labels: none

🎨 Update animations for profile content sections.
  app/_components/header.js
  app/page.js
Labels: component

🔄 Increase particle quantity in layout background.
  app/layout.js
Labels: none

✨ Add new keyframes for text fill animation in global CSS.
  app/globals.css
Labels: none

✨ Add new words to cSpell dictionary
  .vscode/settings.json
Labels: config

✨ Add new animation "in-and-out" with entry and exit keyframes.
  tailwind.config.js
Labels: none

✨ Update animations on profile page.
  app/_components/header.js
  app/page.js
Labels: component

🔧 Fix bug with ScrollIndicator animation due to layout overflow issue
  app/blog/[slug]/page.js
Labels: none

✨ Add jsxliterals and quoteless to settings.json.
  .vscode/settings.json
Labels: config

✨ Refactor IntroAnimation component styling and remove unnecessary code.
  app/_components/intro-animation/index.js
  app/_components/intro-animation/style.css
  app/globals.css
Labels: component

✨ Remove obsolete teamMeetUpEnd2023 image reference.
  app/page.js
Labels: none

✨ Add clsx utility library and color variables configuration.
  .vscode/settings.json
  tailwind.config.js
Labels: config

🔧 Refactor date formatting functions to include full date string and improve readability.
  app/_utils/format-date.js
  app/_utils/mouse.js
Labels: utils

✨ Add utility functions for handling color palettes and merging class names
  app/_utils/class-name.js
  lib/utils/add-variables-for-colors.js
  lib/utils/flatten-color-palette.js
Labels: utils

✨ Add tailwind-merge and framer-motion dependencies.
  package.json
  pnpm-lock.yaml
Labels: dependencies

🔒 Upgrade postcss and nested to version 8.4.40 in pnpm-lock.yaml.
  package.json
  pnpm-lock.yaml
Labels: dependencies

🔧 Refactor: Fix formatting in formatDate function.
  app/_utils/format-date.js
Labels: utils

✨ Refactor: Remove unused CSS styles from intro-animation component and improve code readability.
  app/_components/animations/intro-animation/index.js
  app/_components/animations/intro-animation/style.css
Labels: component

✨ refactor(particles): Remove unnecessary code and optimize canvas rendering.
  app/_components/ui/particles.js
Labels: component

✨ Add FlipWords component for word flipping animation.
  app/_components/ui/flip-words.js
Labels: component

✨ Add animated SVG beams background.
  app/_components/ui/background-beams.js
Labels: component

🚚 Move animations to separate folder and update imports.
  app/layout.js
Labels: none

✨ Refactor navbar components for better organization.
  app/_components/header.js
  app/_components/navbar.js
  app/_components/navbars/hover-wave.js
  app/_components/navbars/index.js
Labels: component

✨ refactor: rename Navbar file and move Particles component to correct directory
  app/_components/animations/backgrounds/particles.js
  app/_components/header.js
  app/_components/navbar/hover-wave.js
  app/_components/navbar/index.js
  app/layout.js
Labels: component

✨ Add BackgroundBeams component for animated SVG beams as a background.
  app/_components/animations/backgrounds/background-beams.js
  app/_components/animations/backgrounds/index.js
  app/_components/animations/text/flip-words.js
  app/_components/ui/flip-words.js
Labels: component

✨ Fix: Correct closing div tag in ProfileContent component
  app/page.js
Labels: none

🔧 Move scroll-indicator component to ui folder.
  app/blog/[slug]/page.js
Labels: none

✨ Refactor: Remove unused CSS code.
  app/globals.css
Labels: none

✨ Refactor: Changed element from <content> to <div> in ProfileContent.
  app/page.js
Labels: none

👩‍💻 Add ScrollIndicator component, and update keyframes styles.
  app/_components/scroll-indicator.js
  app/_components/ui/scroll-indicator.js
  app/blog/[slug]/page.js
  tailwind.config.js
Labels: component

import path fixed
  app/blog/[slug]/page.js
Labels: none

feat: Add grow-progress and in-and-out animations, update intro animation styles
  app/_components/intro-animation/index.js
  app/_components/intro-animation/style.css
  app/_components/navbar.js
  app/_components/particles.js
  app/_components/scroll-indicator.js
  app/_components/ui/scroll-indicator.js
  app/blog/[slug]/page.js
  tailwind.config.js
Labels: component

fix(config): entry and exit animation updated
  tailwind.config.js
Labels: none

add sharp dep for build performance
  package.json
  pnpm-lock.yaml
Labels: dependencies

remove fixed fixme comment from code
  app/blog/[slug]/page.js
Labels: none

removed unused files
  app/_components/intro-animation/index.js
  app/_components/intro-animation/style.css
Labels: component

add custom labels to settings
  .vscode/settings.json
Labels: config

🔒 Update dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(settings): enhance VSCode settings and add code style documentation
  .vscode/settings.json
  docs/code-style.md
  docs/commit.md
  docs/spec.md
Labels: config, documentation
